<div class="jumbotron">
    <h1>Augmented API</h1>
    <p class="lead">Augmented ASP.NET API is a microservice designed for the Augmented application. Augmented is used to track various fitness activities, including caffiene intake, workout types, and work sessions.</p>
    <p><a href="http://augmented.fit" class="btn btn-primary btn-lg">Visit Augmented &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Caffiene</h2>
        <p>Track amount of source of caffiene intake throughout the day.</p>
    </div>
    <div class="col-md-4">
        <h2>Cardio Exercises</h2>
        <p>Track the time, spend, location, and notes of various Cardio Exercises.</p>
    </div>
    <div class="col-md-4">
        <h2>Exercises</h2>
        <p>Create a list of various exercises to perform in various routines.</p>
    </div>
</div>
