<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Augmented ASP.NET API is a microservice designed for the Augmented application.</p>
    <p><a href="https://augmented.fit" class="btn btn-primary btn-lg">Visit Augmented &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <h2>End point</h2>
        <p>Augmented is used to track various fitness activities, including caffiene intake, workout types, and work sessions.</p>
    </div>
    <div class="col-md-4">
    </div>
</div>
